{# This html is for the about page #}

{% extends "layout.html" %}
{% block head %}
    <style>
        iframe {
            margin: 30px auto;
            display: block;
        }
        a {
            color: dodgerblue;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock head %}
{% block content %}

    {# This is the breadcrumb #}
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background: white">
                <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="text-transform: capitalize" >About</li>
            </ol>
    </nav>

    <div class="container">
        <div class="row">

            {# This is for the video #}
            <div class="col-8">
                <iframe width="672" height="378" src="https://www.youtube.com/embed/c1NvxErEHvg" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            {# This is for the description words #}
            <div class="col-4">
                <h2 class="mb-4 section-title" style="margin-top: 50px">What can we do?</h2>
                    <p>Our product will ease the way for financial abuse victims, especially female victims of the age 19-35 making the services more accessible more convenient. When you are in need of services, we provide the right available services which are free and nearby. These services include, accommodation, essential items, legal advice and a whole lot more. Finding these services more easily and making your life more convenient and bringing a ray of hope to your lives.</p>
            </div>
        </div>
    </div>

{% endblock content %}





