{# This html is for the favorite page. #}

{% extends "layout.html" %}

{% block head %}
    <style>
        .breadcrumb-item a {
            color: dodgerblue;
        }
        .breadcrumb-item a:hover {
            text-decoration: underline;
        }
    </style>
{% endblock head %}

{% block content %}
    {# This is the breadcrumb. #}
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background: white">
                <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" style="text-transform: capitalize" >Favorite</li>
            </ol>
    </nav>

    {# This is for showing user's favorites #}
    <div class="container">
        <h1>Hi, {{ current_user.username }}</h1>
        <h2 style="margin-bottom: 20px">Your favorite services: </h2>
        {% if data == [] %}
            <p>There is no favorite yet. Let's browse the website and find your favorite.</p>
        {% else %}
            {% for i in data %}
                {% if i['What'] != 'Unknown' %}
                <div class="row">
                    <div class="col">
                        <p><b>{{ i['Name'] }} ({{ i['Type'] }})</b></p>
                        <p><b>Description</b>: {{ i['What'] }}</p>
                        <a href="{{ url_for('detailedInfo', service_id=i['id_'], servicename=i['Type']) }}" class="btn btn-primary">More</a>
                        <a href="{{ url_for('accountRem', service_id=i['id_'], servicename=i['Type']) }}" class="btn btn-primary">Remove</a>
                    </div>
                </div>

                <hr>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
